@font-face {
  font-family: Genius;
  src: url('https://gwa.edu.sg/fonts/genius-400-regular-webfont.woff2') format('woff2'), url('https://gwa.edu.sg/fonts/genius-400-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style:normal
}